MONGO_URI=mongodb://localhost:27017/movie-review-platform
# For MongoDB Atlas, use: mongodb+srv://user:password@cluster.mongodb.net/dbname
JWT_SECRET=your-secret-key-here
PORT=5001
NODE_ENV=production